/* GENERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-image: url(../img/img23.jpeg);
    
}

/* BOTON DE WHATSAPP */
.btn-wspp{
    position: fixed;
    bottom: 8rem;
    right: 1rem;
    padding: 1.2rem;
    border-radius: 100%;
    background-color: #026e02;
    color: #fff;
    width: 4rem;
    height: 4rem;
    z-index: 1;
}

.btn-wspp i{
    font-size: 2.8rem;
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

/* HEADER */
.header{
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.header-redes{
    padding: 1.5rem;
}

.header-redes a{
    font-size: 1.2rem;
    background-color: #026e02;
    color: #fff;
    padding: .7rem;
    border: #026e02 solid .2rem;
    text-decoration: none;
    border-radius: 1rem;
}

.header-redes i{
    color: #fff;
    background-color: #026e02;
    padding: .5rem;
    border: #fff solid .1rem;
    border-radius: 100%;
}

.header-logo{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.header-logo img{
    height: 8rem;
    width: 8rem;
    object-fit: contain;
    padding-left: 1.5rem; 
}

.header-logo h2{
    text-align: center;
    align-self: center;
    font-size: 2rem;
    color: #00017B;
    width: min-content;
}

.header-nav{
    display: flex;
    margin: 2rem 0;
    transform: rotate(0deg) scale(1.003) skew(-25deg) translate(0px);
    transform-style: flat;
}

.header-nav-ul{
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: top .7s linear;

}

.header-nav-ul-li a{
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    padding: .6rem;
    border: 2px solid #fff;
    border-radius: .4rem;
    background-color: #9D9D9D;
}

.header-nav-ul-li a:active, .header-nav-ul-li a:hover{
    background-color: #042a8371;
}

.header-nav-ul-li-a-active{
    border: 2px solid #fff;
    background-color: #042a8371 !important;
}


/*SLIDER PROPAGANDA*/
.container-slider{
    width: 100%;
    overflow: hidden;
}

.slider{
    display: flex;
    width: 400%;

    margin-left: -100%;
}

.slider-section{
    width: 100%;
    position: relative;
}

.slider-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* SECTION 2 */
.section2-text{
    width: 100%;
    padding: 1.5rem;
}

/* SECTION 3 */
.section3-img{
    width: 100%;
    height: min-content;
    padding: 1.5rem;
}

.section3-img img{
    width: 100%;
    height: 100%;
    
}

/* SECTION 4 */
.section4{
    width: 100%;
    padding: 1.5rem;
}

.section4 h2{
    color: #042a83;
    font-size: 1.7rem;
}

.section4 ul{
    list-style: none;
}

.section4 ul li{
    margin-top: 1rem;
    display: flex;
    align-items: center;
}

.section4-caja-icon{
    display: inline-block;
    position: relative;
    width: 50px;
    height: 50px;
    border: .1rem solid #042a83;
    background-color: #e0e0e0;
    border-radius: 100%;
    padding: 1rem;
    margin-right: .6rem;
}

.section4-caja-icon i{
    color: #042a83;
    width: 3.125rem;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* SECTION 5 */
.section5{
    width: 100%;
    text-align: center;
    background-image: linear-gradient(45deg, rgba(5, 172, 235, 1) 37%, rgba(4, 42, 131, 1) 100%);
    padding:  1rem 0;;
}

.section5 i{
    padding: 1rem;
    border-radius: 100%;
    color: #fff;
    background-color: #002850;
    text-align: center;
    font-size: 2.3rem;
    margin: 1rem 0;
}

.section5 h3, .section5 h2{
    color: #fff;
}

.section5 h2{
    margin-top: .6rem ;
    font-size: 2rem;
}



/* FOOTER */
.footer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.footer .footer-logo{
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    margin-left: 1rem;
}


.footer-contacto{
    margin-left: .8rem;
}

.footer-contacto h3{
    margin-bottom: .4rem;
    color: #042a83;
}

.footer-contacto ul{
    list-style: none;
}

.footer-contacto ul li{
    line-height: 1.4rem;
}

.footer-contacto ul li:nth-child(3){
    margin-bottom: 2rem;
}

.footer-direccion{
    margin-left: .8rem;
}

.footer-direccion p{
    line-height: 1.4rem;
}

.footer-direccion h3{
    margin: .4rem 0;
    color: #042a83;
}

.footer-redes{
    margin-left: .8rem;
}

.footer-redes h3{
    margin: .4rem;
    color: #042a83;
}

.footer-redes a{
    display: inline-block;
    position: relative;
    color: #042a83;
    font-size: 1.5rem;
    border: .1rem solid #042a83;
    margin: 0 .5rem 0 0;
    border-radius: 100%;
    width: 2.8rem;
    height: 2.8rem;
}

.footer-redes a:active, .footer-redes a:hover{
    background-color: #042a83;
    color: #fff;
}

.footer-redes a i{
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.footer-horarios{
    margin-left: .8rem;
}

.footer-horarios h3{
    margin-bottom: .4rem;
    color: #042a83;
}

.footer-horarios p{
    line-height: 1.4rem;
}

.footer-division{
    width: 80%;
    height: .1rem;
    background-color: #042a83;
    margin: 2rem .8rem;
}

.footer-final{
    margin:  0 .8rem 1rem .8rem;
}

/* RESPONSIVE */
@media screen and (min-width:549px){
    /* FOOTER */
    .footer-direccion h3{
        margin: 0 0 .4rem 0;
    }

    .footer-horarios h3{
        margin-top: .4rem;
    }
}

@media screen and (min-width:622px){
    /* GENERAL */
    body{
        background-size: contain;
    }
}

@media screen and (min-width:729px){
    /* FOOTER */
    .footer-redes h3{
        margin: 0 0 .4rem 0;
    }
}

@media screen and (min-width:973px){
    /* FOOTER */
    .footer-horarios h3{
        margin-top: 0;
    }
}

@media screen and (min-width:1024px){
    /* HEADER */
    .header{
        position: relative;
    }
    
    .header-logo{
       justify-content: flex-start;
    }
    
    .header-logo img{
        height: 5rem;
        width: 5rem;
    }
    
    .header-logo h2{
        margin-left: 1rem;
        font-size: 1.6rem;
    }    
    
    .header-redes {
        padding: .5rem;
    }
    
    .header-redes a{
        padding: .6rem;
        font-size: 1rem;
    }
    
    .header-nav{
        position: absolute;
        top: 46.8px;
        right: 2rem;
    }
    
    .header-nav-ul-li {
        margin: 0 2rem 0 2rem;
    }
    
    /* SLIDER */
    .container-slider{
        max-height: 38rem;
        width: 35%;
        position: absolute;
        right: 1.5rem; 
    }
    .slider{
        max-height: 38rem;
    }

    .section2-text{
	    width: 60%;
    }

    .section3-img{
	    width: 35%;
        margin-left: 12%;
    }

    /* SECTION 4 */
    .section4{
        margin: 3rem 0;
    }

    .section4 h2{
        text-align: center;
    }

    .section4 ul{
        display: flex;
        justify-content: space-around;
    }

    .section4 ul li{
        margin-right: 1rem;
    }

    .section4-caja-icon{
        flex-shrink: 0;
    }

    .section4 ul li P{
        text-align: center;
    }
    



}

@media screen and (min-width:1115px){
    /* SLIDER */
    .container-slider{
        max-height: 42rem;
    }

    .slider{
        max-height: 42rem;
    }

    /* FOOTER */
    .footer-contacto,.footer-contacto,.footer-direccion, .footer-redes, .footer-horarios{
        margin-left: 3rem;
    } 
}

@media screen and (min-width:1365px){
    /* FOOTER */
    .footer-contacto,.footer-contacto,.footer-direccion, .footer-redes, .footer-horarios{
        margin-left: 5rem;
    } 
}


